<mat-card *ngIf="this.skill" class="quetion-card">
  <mat-card-header>
    <mat-card-title>{{skill.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group class="assessment-radio-group" [(ngModel)]="skill.hasSkill">
      <mat-radio-button *ngFor="let item of assestmentValues" class="assessment-radio-button" [value]="item.value" (change)="updateAssesment($event)">{{item.text}}</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <!-- <mat-card-footer>
    <ul>
      <li *ngFor="let question of skill.suggestedQuestions">{{question}}</li>
    </ul>
  </mat-card-footer> -->
</mat-card>
